.Checks {
  max-width: 25rem;
}

.Checks.Checks--has-error {
  text-align: center;
}

.Checks__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.Checks__footer {
  margin: 6rem 1rem 0;
  position: relative;
  text-align: right;
}

.Checks__submit-status {
  position: absolute;
  right: 0;
}