.Check {
  padding: 0.5rem 1rem;
}

.Check:hover {
  background-color: var(--muted-color);
}

.Check.Check--active {
  background-color: var(--highlight-color);
}

.Check.Check--disabled {
  color: var(--muted-text-color);
  pointer-events: none;
}

.Check__description {
  margin: 0 0 0.5rem;
}