.Check {
  padding: 0.5rem 1rem;
}

.Check:hover {
  background-color: var(--muted-color);
}

.Check.Check--active {
  background-color: var(--highlight-color);
}

.Check__description {
  margin: 0;
}