body {
  margin: 0;
}

.App {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  min-height: 100vh;
  font-family: sans-serif;
  justify-content: center;
  padding: 1rem;

  --primary-color: #004e5f;
  --muted-color: #e6ebf4;
  --muted-text-color: #bdc0cf;
  --highlight-color: #def7f7;
}
